
 <div class="review w-50" id=<%= dom_id @review %>'>
        <h5 class='mt-3'>Reviews</h5>
        <div data-insert-in-list-target='item'>
          <% @list.reviews.each do |review| %>
          <p>Rating: <%= review.rating %><i class="fa-solid fa-star"></i></p>
          <p class="border-bottom"><%= review.comment %></p>
          <% end %>
        </div>
      </div>
