.logo1 {
  background-image: asset-url("app/assets/images/cinema1.png");
  background-size: cover;
  height: 62px;
  width: 200px;
}

.logo2 {
  background-image: asset-url("cinema2.png");
  background-size: cover;
  height: 62px;
  width: 200px;
}

.logo3 {
  background-image: asset-url("cinema3.png");
  background-size: cover;
  height: 62px;
  width: 200px;
}

.logo4 {
  background-image: asset-url("cinema4.png");
  background-size: cover;
  height: 62px;
  width: 200px;
}

.logo5 {
  background-image: asset-url("cinema5.png");
  background-size: cover;
  height: 62px;
  width: 200px;
}
